In [10]:
import pandas as pd
import numpy as np
import sklearn

df = pd.read_csv('/content/sample_data/train.csv')
df.head()

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,M,Y,N,1,D,D,B,0,1,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,M,Y,Y,1,D,D,B,1,1,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,M,Y,Y,1,D,D,B,0,1,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,F,Y,Y,1,D,D,B,0,1,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,M,N,Y,1,B,D,D,1,l,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0

In [11]:
df.isnull().sum()

id            0
gender        0
s11           0
s12           0
s13           0
s16           0
s17           0
s18           0
s48           0
s52           0
s53           0
s54       25694
s55       25116
s56       28322
s57       28322
s58           0
s59       28322
s69           0
s70           0
s71           0
n1            0
n2            0
n3            0
n4            0
n5            0
n6            0
n7            0
n8            0
n9            0
n10           0
n11           0
n12           0
n13           0
n14           0
n15           0
label         0
dtype: int64

In [13]:
df = df.drop(['s54', 's55', 's56', 's57', 's59'], axis = 1)
df.shape

(28322, 31)

In [27]:
df["s52"] = df["s52"].replace("l", 1)
df["s52"] = df["s52"].replace("o", 0)

In [28]:
df.iloc[112]

id        b'gAAAAABinOiXKqKXjYJoWc9_eAyV8vAfuJx0dtGSg658...
gender                                                    M
s11                                                       Y
s12                                                       Y
s13                                                       1
s16                                                       D
s17                                                       D
s18                                                       B
s48                                                       0
s52                                                       0
s53
s58                                                       B
s69                                                       x
s70                                                   op: D
s71                                                       b
n1                                                 3.874432
n2                                                  0.94412
n3                                                        3
n4                                                 8.133582
n5                                               -33.013753
n6                                                 0.016386
n7                                                 -9.39351
n8                                                 1.531354
n9                                                  3.53434
n10                                                3.938491
n11                                                1.530937
n12                                                       0
n13                                                       0
n14                                                0.781691
n15                                                       6
label                                                     0
Name: 112, dtype: object

In [29]:
df.head(10)

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,M,Y,N,1,D,D,B,0,1,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,M,Y,Y,1,D,D,B,1,1,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,M,Y,Y,1,D,D,B,0,1,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,F,Y,Y,1,D,D,B,0,1,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,M,N,Y,1,B,D,D,1,1,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0
5,b'gAAAAABinOiWbgAxe8Uy9tboiJGZEYK7zcGy6fv8_5Ao...,M,Y,Y,1,D,C,B,1,1,...,-8.885964,1.845862,10.660651,11.704121,1.568647,0,0,0.687640,6,0
6,b'gAAAAABinOiYFRgmHZu5sLaAYKtwJbRhPnjCYPVxQPNf...,M,Y,Y,1,B,D,B,1,1,...,-8.818020,1.535369,8.155031,11.555441,1.543350,0,0,0.983840,5,1
7,b'gAAAAABinOiXQjg5rjPZsHSAQrJhP8u_21fwETW89EFN...,M,Y,Y,1,B,C,B,0,1,...,-9.249317,1.811164,2.822841,6.590523,1.694829,0,0,0.777798,0,0
8,b'gAAAAABinOic9rpK09lv7Q2k7bMbzXsT0ZluA8SfT7x0...,F,Y,Y,1,D,D,B,0,1,...,-9.042350,1.510002,10.661686,11.276986,1.779480,0,0,0.557019,0,0
9,b'gAAAAABinOiWr-5MKlXYJ9hkIMYLh2XNHJeYWIIpt94I...,M,Y,N,1,D,D,B,0,1,...,-9.326015,1.383908,2.671842,3.940305,1.716165,0,0,0.212874,1,0

In [14]:
df.dtypes

id         object
gender     object
s11        object
s12        object
s13         int64
s16        object
s17        object
s18        object
s48         int64
s52        object
s53        object
s58        object
s69        object
s70        object
s71        object
n1        float64
n2        float64
n3          int64
n4        float64
n5        float64
n6        float64
n7        float64
n8        float64
n9        float64
n10       float64
n11       float64
n12         int64
n13         int64
n14       float64
n15         int64
label       int64
dtype: object